<!-- djangotemplates/example/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Library</title>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> <!-- This is how to include a static file -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
</head>

<body>
    <div class="container">
        {% block pagecontent %}
        {% endblock %}
    </div>
</body>

</html>