{% extends 'base.html' %}
{% load widget_tweaks %}
{% block pagecontent %}
    {% if user.is_authenticated %}
    <form method="get">
        <div class="well">
            <h4 style="margin-top: 0">Filter</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4">
                    {{ filter.form.title.label_tag }}
                    {% render_field filter.form.title class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ filter.form.topic__topic_name.label_tag }}
                    {% render_field filter.form.topic__topic_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ filter.form.auther__auther_name.label_tag }}
                    {% render_field filter.form.auther__auther_name class="form-control" %}
                </div>
            </div>
            <div  class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.topic.label_tag }}
                    {% render_field filter.form.topic class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.auther.label_tag }}
                    {% render_field filter.form.auther class="form-control" %}
                </div>
                <div class="col-sm-4 col-md-3">
                    <button type="submit" class="btn btn-primary mt-4">Search</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
        <row>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Topic</th>
                        <th>Auther</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in filter.qs %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.topic }}</td>
                        <td>{{ book.auther }}</td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </row>
        <a href="{% url 'logout' %}">Logout?</a>
    {% else %}
        <div class="alert alert-success mt-5" role="alert">
            <h3>Welcome!</h3>
            <a href="{% url 'register' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}
{% endblock %}
