{% extends 'base.html' %}
{% load widget_tweaks %}
{% block pagecontent %}
    <row>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <form action="" method="POST">
        
                    {% csrf_token %}
        
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                    </div>
                    <br>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>

            </div>
            <div class="col"></div>
        </div>
    </row>
{% endblock %}
