{% extends 'base.html' %}
{% block pagecontent %}
    <row>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <br>
                <div class="alert alert-success" role="alert">
                    <h2 style="text-align: center;">Logged out!</h2>
                </div>
                
                <h3>Login again?</h3>
                <a href="{% url 'login' %}">Login</a> <br>
            </div>
            <div class="col"></div>
    </row>
{% endblock %}