{% extends 'base.html' %}
{% block pagecontent %}
<row>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
            
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {{ field }}
            
                    {% for error in field.errors %}
                    <small class="form-text text-muted">{{ error }}</small>
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</row>
{% endblock %}
